/* ============
   article.css
   ============ */
.article{
	background:url(../../img/bg-banner.png);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	overflow:hidden;
	height:20rem;
}
.article #banner{
	font-size:1.6rem;
	height:80rem;
	background:rgba(0,0,0,0.5);
}
#banner .inner{
	width:60rem;
	margin:0 auto;
	text-align:center;
	position:relative;
	top:2.5rem;
}
.article h1{
	width:12rem;
	margin:0 auto;
	color:#fff;
}
.article .sub-heading{
	line-height:3rem;
	margin:3rem 0;
	font-size:1.8rem;
	color:#fff;
}
.article .content-wrap{
	background:#fefefe;
}
.content-wrap .article-info{
	font-size:1.4rem;
	color:#888;
	padding:1.5rem 0;
}
.content-wrap article{
	font-size:1.6rem;
	line-height:2;
	padding:1rem 0;
}