<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>博客文章</title>
	<!-- <link rel="icon" type="image/ico" href="favicon.ico"> -->
	<link rel="stylesheet" href="https://necolas.github.io/normalize.css/4.1.1/normalize.css"/>
	<link rel="stylesheet" href="../src/css/common.css"/>
	<link rel="stylesheet" href="../src/css/article.css"/>
	<script src="../src/js/require.js" data-main="../src/js/main" defer></script>	
</head>
<body>
<!--[if lte IE8]>
<p class="browserupgrade">您的浏览器版本过于老旧，请到<a href='http://browsehappy.com'>这里</a>更新</p>
<![endif]-->

<!-- header part start -->
<header class="article">
	<nav class="clearfix">
		<div class="heylyn"><a href="index.html">黑林博客</a></div>
		<ul>
			<li><a href="index.html">首页</a></li>
			<li><a href="article.html" class="active">博客文章</a></li>
			<li><a href="me.html">关于我</a></li>
			<li id="sidebarTrigger"><a href="#">更多</a></li>
		</ul>
	</nav>
	<div id="banner">
		<div class="inner">
			<h1>黑林博客</h1>
			<p class="sub-heading">股票激励、出国旅游、强大晋升空间</p>
		</div>
	</div>
</header>
<!-- header part end -->

<!-- content part start -->	
<div class="content-wrap">
	<div class="comWidth">
		<div class="article-info">
			编辑于2020-01-09 | 浏览: 898
		</div>
		<article>
			<div>
			岗位职责：
			1、依据产品需求与设计稿完成高质量的Web前端开发和维护。
			2、对天谷旗下产品进行性能优化，确保产品在不同浏览器、设备上兼具优质的用户使用体验。
			3、结合实际前端开发工作建立或优化提升工作效率的工作流程或工具。
			 
			任职条件：
			1、本科以上学历，一年以上web前端工作经验，了解网站开发的执行流程及规范，有大型门户网站开发经验者优先；
			2、精通静态页面开发，熟练掌握HTML、CSS、DIV布局技术，熟悉W3C网页标准。
			3、熟练使用JS及Jquery，精通原生JS代码，了解JS性能优化者优先。
			4、至少熟悉一门非前端语言，熟练掌握前后台数据交互。
			5、熟练掌握Ps/Ai切图，会使用Sketch尤佳。
			6、对前端技术有持续的热情，个性乐观开朗，逻辑性强，善于和各种背景的人合作。
			 
			加分项：
			1、github具有相关开源项目
			2、独立技术博客或网站
			3、一个能show出你的能力与热情的作品
			4、具有ERP或管理后台开发经验。
			</div>
			<div>
			1、  熟悉HTML5、CSS3、JavaScript等Web前端开发，了解WEB标准化、性能优化方法； //不要求精通，熟练使用即可

			2、  能熟练使用至少一种Javascript 框架，熟悉HTML5特性，了解HTML5最新规范； 

			3、  熟悉互联网产品和行业，有过图形、图表、报表相关开发者优先，附带相关作品或作品链接更佳

			4、  具有模块化编程思想、良好的代码编写习惯，熟悉常见的算法； 

			5、  具有良好的沟通能力、推动能力、协调能力，拥有强烈的责任心和团队合作精神，能承受在一定压力下工作；
			</div>
			<div>
			职责：

			1、负责对后台软件构架的设计及优化。

			2、负责或参与公司数据服务平台的应用接口设计及实现；

			3、负责应用程序接口API的相关文档和示例的撰写；

			4、负责公司数据服务平台应用程序接口和后续维护及相关技术支持。

			需求：

			1、计算机相关专业毕业，2年以上Java开发经验；

			2、精通java语言、SQL数据库，熟悉j2ee（Servlet、Filter、JDBC等）等框架规范及相关开发技术；

			3、熟悉Spring,Hibernate等主流的开发框架，并对以上开源框架有较深刻的认识； 

			4、熟悉Tomcat等web服务器的部署；

			5、熟悉性能优化、系统安全者优先； 

			6、熟悉linux操作系统基本操作，熟悉脚本书写；

			7、工作积极主动，学习能力强，良好的沟通能力，具备团队合作精神。
			</div>
		</article>
	</div>	
</div>
<!-- content part end -->

<!-- footer part start -->
<footer>
	<ul class="comWidth clearfix share-group">
		<li><a href="#">版本更新</a></li>
		<li><a href="#">帮助中心</a></li>
		<li><a href="#">联系我们</a></li>
		<li><a href="#">在线交流</a></li>
		<li><a href="#">黑林微信</a></li>
		<li><a href="#">更多信息</a></li>
		<li><a href="#">更多产品</a></li>
		<li><a href="#">服务信息</a></li>
		<li><a href="#" class="backToTop">返回顶部</a></li>
	</ul>
	<div class="copy">
		&copy; 黑林博客 - 2016
	</div>
</footer>
<!-- footer part end -->
<!-- sidebar start -->
<div class="overlay"></div>
<div id="sidebar">
	<ul>
		<li><a href="#">胜利</a></li>
		<li><a href="#">脚步</a></li>
		<li><a href="#">已经</a></li>
		<li><a href="#">靠近</a></li>
		<li><a href="#">非常好</a></li>
	</ul>
</div>
<!-- sidebar end -->
</body>
</html>