<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>黑林博客</title>
	<!-- <link rel="icon" type="image/ico" href="favicon.ico"> -->
	<link rel="stylesheet" href="https://necolas.github.io/normalize.css/4.1.1/normalize.css"/>
	<link rel="stylesheet" href="../src/css/common.css"/>
	<link rel="stylesheet" href="../src/css/homepage.css"/>
	<script src="../src/js/require.js" data-main="../src/js/main" defer></script>
</head>
<body>
<!--[if lte IE8]>
<p class="browserupgrade">您的浏览器版本过于老旧，请到<a href='http://browsehappy.com'>这里</a>更新</p>
<![endif]-->

<!-- header part start -->
<header>
	<nav class="clearfix">
		<div class="heylyn"><a href="index.html">黑林博客</a></div>
		<ul>
			<li><a href="index.html" class="active">首页</a></li>
			<li><a href="article.html">博客文章</a></li>
			<li><a href="me.html">关于我</a></li>
			<li id="sidebarTrigger"><a href="#">更多</a></li>
		</ul>
	</nav>
	
	<div id="banner">
		<div class="inner">
			<h1>漂在美国</h1>
			<p class="sub-heading">好玩得忘记了生活</p>
			<div><a href="me.html">想了解</a><div>
			
			<div class="more">
				更多
			</div>
		</div>
	</div>
</header>
<!-- header part end -->

<!-- content part start -->	
<div class="content-wrap">
	<section class="green-section">
		<div class="comWidth wrapper">
			<div>
				<h2>曹操专车</h2>
				<h3>潜力大,福利好,领导好,同事友好</h3>
				<div class="hr"></div>
				<p class="sub-heading">3年移动互联网android产品开发经验，有多个完整的android项目经验，至少参加过一个完整的商业级手机应用项目，有App Store线上作品者优先</p>
			</div>
			<div class="icon-group">
				<span class="icon">每半年调整</span>
				<span class="icon">丰厚的股票</span>
				<span class="icon">技术多元化</span>
			</div>
		</div>
	</section>
	<section class="gray-section">
		<div class="article-preview clearfix mask">
			<div class="img-section">
				<a href="#"><img src="../img/pic01.jpg" alt="pic 01"/></a>
			</div>
			<div class="text-section">
				<h2>公司大事记</h2>
				<div class="sub-heading">一起了解美国最接地气的社交软件</div>
				<p>致力于美国互联网的创业型公司，明星创始团队，国内知名VC投资，小伙伴个个身怀绝技，快到网里来吧！</p>
			</div>
		</div>
	</section>
	<section class="gray-section">
		<div class="article-preview clearfix">
			<div class="text-section">
				<h2>挑战不可能</h2>
				<div class="sub-heading">上市公司，扁平化管理，技术极客云集</div>
				<p>坚持把自己当成产品经理：千万别把自己仅仅当成写程序的人，看见不妥吐槽出来，这就是您自己的产品。除此之外：做您最愿意做、最乐于做、最爽的事情！</p>
			</div>
			<div class="img-section">
				<a href="#"><img src="../img/pic02.jpg" alt="pic 02"/></a>
			</div>
		</div>
	</section>
	<section class="gray-section">
		<div class="article-preview clearfix mask">
			<div class="img-section">
				<a href="#"><img src="../img/pic03.jpg" alt="pic 03"/></a>
			</div>
			<div class="text-section">
				<h2>企业服务</h2>
				<div class="sub-heading">金融行业背景的全球化金融大数据公司</div>
				<p>熟悉Android 4.x时代的SDK（并发编程、定位、数据、拍照）；熟悉可自适应的基础能力和屏幕适配实现方式，对与服务端交互接口的把握具有高超技巧（尤其是性能的把握）。</p>
			</div>
		</div>
	</section>
	
	<section class="purple-section">
		<div class="comWidth wrapper">
			<div class="heading-wrapper">
				<h2>走心福利</h2>
				<div class="hr"></div>
				<p class="sub-heading">我们了解工程师文化：这是支纯粹的工程师团队，拒绝技术官僚，我们知道您需要的：咖啡、零食、弹性工作时间、萌妹子、加班餐、打车费…. 你懂的，我们真的知道如何让您爽！</p>
			</div>
			<div class="card-group clearfix">
				<div class="card">
					<h3>移动互联网,社交网络</h3>
					<p>股权激励利益共沾：互联网上市公司，持续的股权激励政策，我们希望若干年后的您不再为生活奔波，专注于您最愿意做的专业工作。</p>
				</div>
				<div class="card">
					<h3>新三板上市公司</h3>
					<p>关注您的专业成长：提供专业培训机会，充满大牛的团队；结合专家的帮助和指导，通过持续在特定领域实践，是您专业提升最好最快的方法。</p>
				</div>
			</div>
			<div class="card-group clearfix">
				<div class="card child3">
					<h3>团队年轻氛围好公司发展快</h3>
					<p>目前业内最高薪酬：薪酬依据能力而定，不封顶不设限，我们保证您的生活和家庭需要！</p>
				</div>
				<div class="card child4">
					<h3>年度旅游</h3>
					<p>本科及以上学历，计算机或通信相关专业，对数据结构、算法、具体数学、通讯原理具有扎实的理解。</p>
				</div>
			</div>
			<div class="card-group clearfix">
				<div class="card child5">
					<h3>深入发掘和分析业务需求，撰写技术方案</h3>
					<p>坚持把自己当成产品经理：千万别把自己仅仅当成写程序的人，看见不妥吐槽出来，这就是您自己的产品。</p>
				</div>
				<div class="card child6">
					<h3>设计实现实现高性能的APP</h3>
					<p>负责核心产品Android研发工作：在扁平敏捷的专业结构下，专注纯粹打造一款精品应用。</p>
				</div>
			</div>
		</div>	
	</section>
</div>
<!-- content part end -->

<!-- footer part start -->
<footer>
	<ul class="comWidth clearfix share-group">
		<li><a href="#">版本更新</a></li>
		<li><a href="#">帮助中心</a></li>
		<li><a href="#">联系我们</a></li>
		<li><a href="#">在线交流</a></li>
		<li><a href="#">黑林微信</a></li>
		<li><a href="#">更多信息</a></li>
		<li><a href="#">更多产品</a></li>
		<li><a href="#">服务信息</a></li>
		<li><a href="#" class="backToTop">返回顶部</a></li>
	</ul>
	<div class="copy">
		&copy; 黑林博客 - 2016
	</div>
</footer>
<!-- footer part end -->

<!-- sidebar start -->
<div class="overlay"></div>
<div id="sidebar">
	<ul>
		<li><a href="#">胜利</a></li>
		<li><a href="#">脚步</a></li>
		<li><a href="#">已经</a></li>
		<li><a href="#">靠近</a></li>
		<li><a href="#">非常好</a></li>
	</ul>
</div>
<!-- sidebar end -->
</body>
</html>